body {
    color: #8f8f8f;
    font: 12px Tahoma, sans-serif;
    background-color: #f8f8f8;
    border-top: 5px solid #7e7e7e;
    margin: 0;
}

input[type="text"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 30px;
    color: #b2b2b2;
    padding: 0 10px;
    vertical-align: top;
}

button {
    color: #fff;
    background-color: #29c5e6;
    border: none;
    height: 32px;
    font-family: 'Oswald', sans-serif;
}

p {
    margin: 20px 0;
}

#Wrapper {
    max-width: 960px;
    margin: auto;
}

header {
    padding: 20px 0;
}

nav a {
    text-decoration: none;
}

nav li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

.TopMenu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

.TopMenu li.ActivePageMenu {
    background: #29c5e6;
    color: #fff;
}

.TopMenu a {
    color: #b2b2b2;
}